body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    display: block;
}
.container {
    max-width: 1200px;
    margin: 8 auto;
    padding: 0 15px;
}
/* Header */
.header {
background-color: #FFF;
border-bottom: 1px solid #e7e9fc
}
.container-header{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav{
    display: flex;
    align-items: center;
    padding: 24px 0;
}
.logo {
    color: #4d5ae5;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
    margin-right: 76px;
    padding: 24px 0;
}
.logo-studio{
    color: #2e2f42;
}
.nav-item{
color: #2E2F42;
padding: 24px 0;
}
.nav-item:hover{
    color: #404bbf;

}
.nav-item:focus{
    color: #404bbf;
}
.nav-list {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.nav-studio {
    color: #2e2f42;
}
.nav-studio:hover{
    color: #404bbf;
}
.nav-studio:focus {
    color: #404bbf;
}
.nav-list:active {
    flex-shrink: 0;
    color: #404BBF;
    text-decoration: none;
}
address {
    font-style: normal;
}
.nav-contacts {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
        font-style: normal;
    }
        .nav-contacts:hover{
            color: #404bbf;
        }
.nav-contacts:focus{
    color: #404bbf;
}
.nav-contacts:active{
        justify-content: center;
        flex-shrink: 0;
        color: #404BBF;

}
.nav-contacts-list{
display: flex;
gap: 40px;
}
/* Main */
.main-section {
background-color:  #2E2F42;
padding: 188px 0;
}
.main-header {
    color:  #FFF;
        text-align:center;
        font-size: 56px;
        font-weight: 700;
        letter-spacing: 0.02em;
line-height: 1.07;
max-width: 496px;
    }
    .order-button {
        font-family: "Roboto",sans-serif;
        background-color: #404BBF;
background: #4D5AE5;
color: #FFF;
    font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        border : 0px;
        display: block;
        min-width: 169px;
        height: 56px;
        border-radius: 4px;
    }
         .order-button:hover{
                    background: #404BBF;
         }
         .order-button:focus{
            background-color: #404BBF;
         }
/* Benefits */
.benefits-section{
padding: 120px 0;
}
.visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    .benefits-list{
        display: flex;
        gap: 24px;
    }
.benefit-name {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.benefits {
    color:#434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.benefit-item{
width: calc((100% - 72px) / 4);
}
/* Team */
.team-section {
        flex-shrink: 0;
        background-color: #F4F4FD;
}
.team-header {
color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
}
.member-name {
color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.member-post{
color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Portfolio */
.portfolio-title {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.portfolio-name {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.portfolio-description {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.member {
background-color: #FFFFFF
}
/* Footer */
.footer {
background: #2E2F42;
    flex-shrink: 0;
}
.footer-text {
    color: #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.logo-footer {
            color: #F4F4FD; 
            font-family: "Raleway",sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.16;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-decoration: none;
}
.logo-studio-white {
color: #F4F4FD;
}
